.gradle/
build/
bin/
target/
out/
gradle/
gradlew
gradlew.bat
gradle-*
*.class
*.log
*.zip
*.tar.gz
*.pyc
.project
.classpath
.settings/
.idea/
*.iml
*.iws
*.ipr
patch.diff
pr_body.md
update_cloudsync.py
gitlog.txt
testimg.png
to-do_list.md
