# Build and IDE
.gradle/
build/
bin/
target/
.vscode/
.idea/
*.log
*.zip
*.tar.gz
dependency-reduced-pom.xml
apache-maven-*/
gradle-*/

# Compiled Java
*.class
*.jar
!src/main/resources/*.jar

# Node.js
render-server/

# Databases
*.db
*.db-journal
*.sqlite

# Environment and Secrets
.env
*.env
.env.local

# OS Metadata
.DS_Store
Thumbs.db

# Agent stuff
.agents/
.agent/
testimg.png
